<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='css/app.css')}}">
    <title>about</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <h1>About {{ aboutName }}</h1>
        <p>I am writing some information about myself that people can see. I love to play video games and create small in home linux servers. 
          
          OBJECTIVE:
          Seeking an IT Manager role within Columbus State University to utilize 12 years of experience in leading technology initiatives, combined with in-depth knowledge of network security systems, applications, procedures, and techniques. I have developed strong qualifications through comprehensive experience, with a focus on information management, IT support services, implementing technical solutions, reducing costs, improving quality, and enhancing technical staff performance.
          
          EDUCATION:
          Columbus State University: Bachelor of Science Degree – Columbus, GA                                              Aug. 2018 - Present
          Major: Cybersecurity          Expected Graduation: Fall 2023
          
          Darton State University: Associate of Science Degree – Columbus, GA                                                               May 2015
          Major: Information Technology 		
          
          CERTIFICATIONS:
          IT Essentials I
          IT Essentials II
          IT Foundations 	CISCO Network Fundamentals
          CISCO Routing Protocols 
          Linux Operating Security 	Security +
          Network Administration 
          Wireless Network Security
          
          
          SKILLS:
          •	Adaptability
          •	Technology Proficiency 	•	Staff Management
          •	Leadership Skills	•	Risk Analysis
          •	Communication Skills
          PROFESSIONAL EXPERIENCE(S):
          Columbus State University Columbus, GA 	IT Support Specialist II 	Oct. 2021– Present
          
          •	Managed a team of 3+ Client Support Staff, providing guidance and training to enhance and improve their overall service delivery.
          •	6 years of experience as an IT specialist, providing support for faculty, staff, and students.
          •	Maintained awareness of new and emerging technologies and products to ensure reliable and efficient development, testing, and integration.
          •	Communicated effectively with users on difficult IT issues and possessed strong writing skills.
          •	Conducted research to apply leading IT trends and standards to the department and university.
          •	Provided management and staff with detailed reports from the ticketing system.
          •	Worked with Apple products, effectively troubleshooting and resolving technical issues.
          •	Experienced in working with tools such as SCCM, VPN installations, and Remote Desktop.
          •	Collaborated with various departments within UITS to increase knowledge of various systems.
          •	Assisted with classroom and lab upgrades, updates, imaging processes, and audio-visual technology.
          •	Provided technical assistance and support for incoming queries and issues related to computer systems (Windows, macOS), networking, software, and hardware.
          •	Detail-oriented and able to work under pressure, with a proven ability to prioritize and multitask effectively.
          




        </p>
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  </body>
</html>